
@media (max-width:1400px) {
    .intro__element-1,
    .intro__element-2,
    .intro__element-3,
    .intro__element-4,
    .about__element,
    .about__bg,
    .cap__element,
    .works__element-1,
    .works__element-2,
    .works__bg,
    .footer__element {
        display: none;
    }


    .cap__img{
        width: 100%;
    }
}

@media (max-width:1200px) {

 .intro__text{
    padding: 0;
 }

 .intro__carousel-img{
    height: 100%;
 }

 .works__content{
    margin-top: 50px;
 }




}

@media (max-width:992px) {
    .navbar-nav{
        padding-top: 30px;
        row-gap: 20px;
    }

    .header__link-order{
        margin: 0;
    }

    .intro__carousel-img{
      padding-top: 100px;
    }

    .about__content{
        margin-top: 100px;
    }

    .cap__img{
        margin-top: 100px;
    }

    .works__content.active{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .works__content-img{
        margin: 0 auto;
    }

    .works__content-title{
        padding-top: 20px;
    }

    .works__content-subtitle{
        text-align: justify;
    }

.works__content-link{
    margin: 0 auto;
}

}

@media (max-width:768px) {

    .footer__list{
        flex-direction: column;
    }

    .footer__list-item{
        padding-bottom: 20px;
    }
}

@media (max-width:576px) {

    .navbar > .container {
        max-width: 400px;
        width: 100%;
    }

    .header__link{
        font-size: 20px;
    }

    .intro__text{
        padding: 20px;
        text-align: center;
    }

    .intro__text-title{
        font-size: 30px;
    }

    .intro__brand{
        flex-direction: column;
        row-gap: 20px;
    }

    .intro__brand-img{
        width: 50px;
    }

    .about__work{
        margin-left: 20px;
        padding: 20px;
        font-size: 14px;
    }

    .about__work::after{
        font-size: 15px;
        width: 30px;
        height: 30px;
    }

    .about__content-title{
        font-size: 30px;
        text-align: center;
    }

    .about__content-text{
        text-align: justify;
    }

    .about__content-btn{
        margin-left: 0;
        display:block;
        text-align: center;
        max-width: max-content;
        margin: 0 auto;
    }

    .works__title{
        font-size: 30px;
    }

}

@media (max-width:450px) {

    .intro__btn{
        width: 250px;
    }

    .carousel-indicators [data-bs-target] {
      width: 10px;
      height: 10px;
      margin-bottom: 20px;
    }

    .intro__text-title{
        font-size: 25px;
    }

    .about__work{
        top: 60px;
        padding: 15px;
    }

    .about__content-title{
        font-size: 25px;
    }

    .cap__title{
        font-size: 30px;
    }

    .accordion-button{
        font-size: 14px;
    }

    .accordion-body{
     font-size: 15px;
     text-align: justify;
    }

    .footer__list-link{
        font-size: 20px;
    }

}

@media (max-width:350px) {
    .about__work{
        top: 70px;
        padding: 15px;
        font-size: 12px;
    }

    .about__content-title{
        font-size: 20px;
    }

    .about__content-text{
        font-size: 16px;
    }

    .about__content-btn{
        padding: 10px 20px;
    }

    .about__content{
        margin-top: 50px;
    }

    .works__content-subtitle{
        font-size: 16px;
    }


}

